<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.registeration">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Registeration">
        <activity
            android:name=".Activities.ForgetPasswordact"
            android:label="@string/title_activity_forget_passwordact"
            android:theme="@style/Theme.Registeration.NoActionBar"></activity>
        <activity android:name=".Activities.Updateactivity" />
        <activity android:name=".Activities.AllRecordact" />
        <activity android:name=".Activities.Introscr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FinalPage" />
        <activity android:name=".Activities.Introscr$SignUpact" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.SignUpact" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>